.body{
    margin: 0;
    padding: 0;
  }
  .adda{
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    justify-content: center;
    }
  .luck{
    position:absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      padding: 100px;
      transform: translate(-50%, -50%);
      background: rgba(224, 127, 17, 0.5);
      box-sizing: border-box;
      border-radius: 14px;
      
  }
  